* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.main-checkout div {
  text-align: center;
}

.carrinho-head-item {
  margin-left: 35px !important;
}

.carrinho-table {
  margin: 70px auto 0 auto;
  padding: 10px;
  max-width: 1400px;
  flex-direction: column;
  box-shadow: 0px 3px 5px #395B64;
  display: flex;
  justify-content: center !important;
  border: 1px solid #2C3333;
  color: #2C3333;
  background-color: #F5F2E7;
}

.carrinho-head {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.carrinho-itens {
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}


.carrinho-itens tr {
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: row !important;
  width: 1200px;
  justify-content: center !important;
}

.carrinho-itens tbody {
  margin: 10px auto 0 auto;
  display: flex;
  width: 1200px;
  justify-content: center !important;
}


.carrinho-itens td {
  margin: 10px auto 0 35px;
}


.carrinho-itens button {
  margin: 0 auto 0 auto !important;
  font-weight: normal !important;
  background-color: #f5f2e7 !important;
  color: #2C3333 !important;
}

.customer-form {
  margin-top: 35px;
}

.customer-form div {
  display: flex;
  justify-content: space-evenly;
}

.customer-form div input,
.customer-form div select {
  margin-left: 10px;
}

.customer-form button {
  background-color: #2666cf !important;
  color: #f5f2e7 !important;
  height: 50px;
  width: 250px;
}
