body { 
  background-color: white !important;
}

.user-product-card {
  background-color: white;
  align-items: center;
  border: solid #2666CF 1px;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  margin: 12px;
  padding: 7px;
  text-align: center;
  width: 150px;
}

.user-product-card img {
  /* box-shadow: 10px 5px 5px gray; */
  min-width: 30%;
  max-width: 4%; 
}
